@CHARSET "ISO-8859-1";


/********************************************************MEDIA QUERIES********************************************************************************************/
/******************************************************************************************************************************************************************/


@media (min-width: 1367px) and (max-width: 1920px) {

	body{
		font-size:14px
	}
	
	.logo {
		float: left;
		margin: 6% 0% 0% 5%;
	}
	
	.body-top {
		height: 90px;
	}
	
	.body-mid {
		_height: 800px;
	}
	
	/* .tool-board {
		height: 5.2%;

	} */
}

@media (min-width: 1280px) and (max-width: 1366px) {
	
	body{
		font-size:14px
	}

@media (min-width: 1024px) and (max-width: 1279px) {
	
	body{
		font-size:12px;
	}

@media (min-width: 640px) and (max-width: 1023px) {
	
	body{
		font-size:10px;
	}
	
}